In [ ]:
def func (x y):
  print(x+y)

   func(10,20)

SyntaxError: invalid syntax (<ipython-input-18-e1916c71ed9e>, line 1)

In [ ]:
def func (x ,y):
  return "hey"
  #call
  x =func(10, 20)
  print (x)

In [ ]:
def emplyee( eid, ename, email):
  print (f"Eid:{eid} /tEmail:{email} /t name:{ename}")
  employee (10 ,20 ,30)

requriesd

In [ ]:
def emplyee( eid, ename, email):
  print (f"Eid:{eid} /tEmail:{email} /t name:{ename}")
  employee ("10", "yash ","vyash4266@gmail.com")

In [ ]:
#keyword
def emplyee( eid, ename, email):
  print (f"Eid:{eid} /tEmail:{email} /t name:{ename}")
  employee ("yash", "10", "vyash4266@gmail.com")

In [ ]:
def emplyee( eid, ename, email="vyash4266@gmail.com"):
  print (f"Eid:{eid} /tEmail:{email} /t name:{ename}")
  employee("yash", "10")

In [ ]:
def employee(*x):
  print (X)


  employee()

In [ ]:
def employee(*x):
  print (X)


  employee(10, 20)

$%variable lenght argument

In [ ]:
def employee(**x):
  print (X ,type(x))



  employee(age=10,salary=1000)
  employee(salary=1000)

In [ ]:
def employee(**x):
  print ("hey")
  out= employee
  out()
  employee()